<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora de Cores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">   

    <div class="cores">
      <!-- Get RED value -->     
      <div class="input-value red">
        <ion-label>R: </ion-label>
        <ion-input [(ngModel)]=red></ion-input>
      </div>

      <!-- Get GREEN value -->     
      <div class="input-value green">
        <ion-label>G: </ion-label>
        <ion-input [(ngModel)]=green></ion-input>
      </div>

      <!-- Get BLUE value -->     
      <div class="input-value blue">
        <ion-label>B: </ion-label>
        <ion-input [(ngModel)]=blue></ion-input>
      </div>
    </div>        

    <div class="button-color">
      <ion-button (click)="cor()">COR</ion-button>    
    </div>    
    
  </div>
</ion-content>
