/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// My ionic styles
ion-toolbar {
    --background: green;
    color: white;
}

ion-title {
    text-align: center;
}

ion-label {
    font-weight: bold;
}

ion-input.sc-ion-input-md-h {
    --background: white;
    border-radius: 6px;
    margin: 10px 0 10px 0;
    border: 2px solid green;
}

ion-button {
    --background: green;
    color: white;
    font-weight: 600;
}

ion-item {    
    width: 90vw;    
    border-radius: 6px;
    margin-bottom: 10px;
    border: 2px solid green;
}

ion-content.md.hydrated {
    --background: #eeeeee;
}

ion-tab-bar.md.hydrated {
    --background: green;
}

ion-tab-button {    
    color: black;
}

ion-tab-button.tab-selected {
    color: white;
}
